.grid-dash-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.dash_header {
  flex: 0 0 auto;
  height: 80px important;
}

.content-container {
  display: flex;
  flex: 1;
}

.sidebar {
  width: 0; /* Initial width of the sidebar */
  overflow: hidden;
  background-color: #000000;
  color: azure;
  transition: width 0.5s ease-in-out;
}

.sidebar-open .sidebar {
  width: var(--sidebar-width); /* Adjust this value to match the sidebar width */
}

.main-content {
  flex: 1;
  transition: transform 0.5s ease-in-out;
}

.sidebar-open .main-content {
  transform: translateX(var(--sidebar-width)); /* Adjust this value to match the sidebar width */
}

/* ... rest of your styles ... */
